@import "flexbox";

.archives {

  .links {
    font-size: 16px;
    list-style-type: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 8px;
    }

    a {
      display: block;
      font-weight: bold;
    }
  }

  .tab-group {
    .display-flex();

    @media @mobile {
      display: block;
    }
  }

  .tab-navigation {
    .flex(0 0 150px);
    padding-right: 20px;

    li {
      display: block;
      line-height: 1.2;
      font-size: 15px;
      margin-bottom: 16px;
      &::before {
        content: "";
        margin: 0;
      }

      @media @mobile {
        text-align: center;
      }
    }
  }

  .perspective {
    font-size: 16px;
    font-family: @df-serif;
    border: 1px solid @df-light-gray;
    padding: 8px 20px;

    h1 {
      font-size: 24px;
      padding-top: 0;
    }

    h2 {
      font-size: 19px;
    }

    .bio {
      font-style: italic;
      font-family: @df-sans;
      padding: 0 20px 20px;
    }

    .byline {
      font-family: @df-sans;
    }

    .date {
      font-family: @df-sans;
      font-style: italic;
    }
  }
}