@import "timeline";

.bio {

  .life {
    font-family: @df-serif;
    line-height: 1.5em;

    .caption {
      line-height: 1.3em;
    }
  }

  .group {
    padding-bottom: 15px;
  }
  .cluster {
    font-size: 16px;
    padding-bottom: 20px;
    padding-right: 40px;

    @media @mobile {
      padding-right: 0;
    }

    .name {
      font-weight: bold;
      font-size: 20px;
    }

    img {
      padding-bottom: 5px;
    }
  }

  .subhead {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 5px;
    color: @df-middle-gray;
  }

  .excerpt {
    font-size: 14px;
    padding: 10px 0 7px 0;
  }

  section {
    padding-bottom: 20px;
  }
}