@import "seattletimes";
@import "flexbox";
@import "page";
@import "subnavigation";
@import "index";
@import "bio";

body {
  font-family: @df-sans;
  background: #0A0A0A;
  color: @df-off-white;
  // letter-spacing: .03em;
}

.logo {
  height: 30px;
}

.header {
  img {
    margin: auto;
    display: block;
    max-width: 1200px;
  }
}

.nav {
  max-width: 1200px;
  margin: auto;
  .display-flex();
  font-size: 16px;
  line-height: 32px;

  .nav-button {
    .flex(1);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.subhead {
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px 0;
  // font-weight: bold;
  color: @df-middle-gray;
}

.flex-container {
  .display-flex();

  .center {
    .flex(0 0 50px);
  }

  .left, .right {
    .flex(1);
  }

  img {
    width: 100%;
  }
}

.cluster {
  .flex(1);
  padding-right: 40px;

  &:last-child {
    padding-right: 0;
  }
}

audio {
  width: 100%;
  display: block;
  background-color: black;
}

main {
  background: @df-off-white;
  color: @df-charcoal;
  padding: 30px;

  .inner {
    max-width: 900px;
    margin: auto;
  }

  aside {
    float: right;
    max-width: 400px;
    margin-left: 20px;
  }

  .caption {
    font-style: italic;
    font-size: 15px;
  }
}

.footer .logo {
  height: 25px;
  margin: 15px 0 5px 15px;
}