@import "seattletimes";
@import "flexbox";
@import "page";

body {
  font-family: @df-sans;
  background: #0A0A0A;
  color: @df-off-white;
  // letter-spacing: .03em;
}

.logo {
  height: 30px;
}

.header {
  img {
    margin: auto;
    display: block;
    max-width: 1200px;
  }
}

.nav {
  .display-flex();

  .nav-button {
    .flex(1);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.subhead {
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px 0;
  // font-weight: bold;
  color: @df-middle-gray;
}

.intro, .quote {
  background: @df-charcoal;
  padding: 30px;
}
.triplets, .body {
  background: @df-off-white;
  color: @df-charcoal;
  padding: 30px 0;
}
.triplets .inner2 {
  .display-flex();

  .triplet {
    .flex(1);
    padding: 0 15px;
    font-size: 18px;

    .desc {
      padding-bottom: 10px;
      border-bottom: 2px solid @df-border-gray;
    }
  }
}
.quote {
  font-size: 22px;

  .attribution {
    padding-top: 10px;
    font-size: 16px;
    color: @df-middle-gray;
  }
}

.flex-container {
  .display-flex();

  .center {
    .flex(0 0 50px);
  }

  .left, .right {
    .flex(1);
  }
}

.cluster {
  .flex(1);
  padding-right: 40px;

  &:last-child {
    padding-right: 0;
  }
}

main {
  background: @df-off-white;
  color: @df-charcoal;
  padding: 30px;

  img.inline {
    float: right;
    margin-left: 20px;
    max-width: 400px;
  }
}

.footer .logo {
  height: 25px;
  margin: 15px 0 5px 15px;
}