<!doctype html>
<html>
  <head>
    <title><%= title %> | <%= grunt.data.json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>


      <%= t.include("partials/_ad.html", { type: "banner" }) %>

        <nav class="top-nav inner">
          <ul>
            <li class="nav-button"><a href="http://www.seattletimes.com" target="_blank"><img class="logo" src="./assets/st-logo.png"></a></li>
            <li class="nav-button"><a href="./index.html">Home</a></li>
            <li class="nav-button"><a href="./bio.html">History</a></li>
            <li class="nav-button">Now</li>
            <li class="nav-button"><a href="./archives.html">Our archives</a></li>
            <li class="nav-button">Education</li>
          </ul>
        </nav>