<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>
    <div class="outer">

      <%= t.include("partials/_ad.html", { type: "banner" }) %>
      <div class="nav">
        <div class="nav-button"><a href="http://www.seattletimes.com" target="_blank"><img class="logo" src="./assets/st-logo.png"></a></div>
        <div class="nav-button"><a href="./index.html">Home</a></div>
        <div class="nav-button"><a href="./bio.html">His story</a></div>
        <div class="nav-button">Voices</div>
        <div class="nav-button">Our archives</div>
        <div class="nav-button">Education</div>
      </div>
      

      <img src="./assets/mlk_header.jpg">



      <div class="inner">