<%= t.include("_head.html", { title: "Perspectives" }) %>

<header class="header">
  <img src="./assets/mlk_header_short.jpg">
</header>

<main class="archives">

  <section class="inner">

    <h1>Our Archives</h1>

    <ul class="links">
      
      <li>
        <a href="http://archives.seattletimes.nwsource.com/cgi-bin/texis.cgi/web/vortex/display?slug=kinged19&date=20030119" target="_blank">
          King's dream: It's all about us
        </a>
        Imagining how King would view things in the Puget Sound region is an exercise filled with possibilities.
      </li>
      
      <li>
        <a href="http://archives.seattletimes.nwsource.com/cgi-bin/texis.cgi/web/vortex/display?slug=mlkteach19m&date=20030119" target="_blank">
          One teacher's approach
        </a>
        To Brenda Jackson, King's message isn't just for the holiday.
      </li>

      <li>
        <a href="http://archives.seattletimes.nwsource.com/cgi-bin/texis.cgi/web/vortex/display?slug=king20m&date=20030120" target="_blank">
          Black, white and together
        </a>
        Bellevue and Central Area congregations are now fast friends.
      </li>

      <li>
        <a href="http://archives.seattletimes.nwsource.com/cgi-bin/texis.cgi/web/vortex/display?slug=jdl19&date=20030119" target="_blank">
          Raising up one of us raises up all of us
        </a>
        The movement was about more than getting a seat in a restaurant; it was about making America truer to its best self.
      </li>

      <li>
        <a href="http://archives.seattletimes.nwsource.com/cgi-bin/texis.cgi/web/vortex/display?slug=jdl12&date=20030112" target="_blank">
          King, civil-rights movement moved by faith
        </a>
        Let's not forget King was a man of religion.
      </li>

      <li>
        <a href="http://archives.seattletimes.nwsource.com/cgi-bin/texis.cgi/web/vortex/display?slug=mlkday19&date=20030119" target="_blank">
          Black activism today: more personal, subtle
        </a>
        "We as a young generation haven't taken up civil rights because we see it as only part of the pie," says Seattle hip-hop artist Adonis Williams.
      </li>

      <li>
        <a href="http://archives.seattletimes.nwsource.com/cgi-bin/texis.cgi/web/vortex/display?slug=mlkwong19&date=20030119" target="_blank">
          An opportunity to talk about race
        </a>
        When it comes to talking about race, many of us don't do a very good job.
    </ul>

  </section>

  <section class="inner">

    <h1>Reflections</h1>

    <p>
      Some knew Martin Luther King Jr. personally, others admired him from afar. All were inspired by him. Here, civil rights activists reflect on King.
    </p>

    <div class="perspective-container tab-group">

      <nav class="tab-navigation">
        <ul>
          <li><a href="#johnson">Novelist Charles Johnson (1998)</a>
          <li><a href="#gray">Fred Gray, King's first civil-rights attorney (1996)</a>
          <li><a href="#bond">Julian Bond, civil-rights activist and teacher (1993)</a>
          <li><a href="#young">Andrew Young, politician and civil-rights leader (1996)</a>
          <li><a href="#mckinney">Rev. Samuel B. McKinney (1994)</a>
          <li><a href="#mckinney-turner">Rev. Dale Turner and Rev. Samuel B. McKinney (1995)</a>
          <li><a href="#sanchez">Sonia Sanchez, poet and activist (1995)</a>
          <li><a href="#calendar">Making the Calendar (1985)</a>
        </ul>
      </nav>

      <article class="tab perspective" id="johnson">

        <h1>Lessons from fictionalizing King</h1>

        <div class="bio">
          <p>
            CHARLES JOHNSON is the Pollock Professor of English at the University of Washington and a winner in 1998 of a prestigious "genius grant" from the MacArthur Foundation. His novel, "Middle Passage," won the National Book Award for 1990 and his short fiction is much anthologized, including on the Internet.

          <p>
            An accomplished screenwriter, book reviewer, and comic artist, Johnson has wrote a novel called "Dreamer," centering on events in the life of Martin Luther King Jr. Before the novel was published in the spring of 1998, he discussed some of what he learned about King, and what he discovered about himself — and society — in the process.
        </div>

        <%= markdown.johnson %>
      </article>

      <article class="tab perspective" id="gray">

        <h1>His work is far from over: Lawyer spreads message of racial reconciliation</h1>

        <cite class="byline">
          By Sally Macdonald, Seattle Times religion writer
        </cite>

        <div class="date">This story originally ran in The Seattle Times Nov. 9, 1996.</div>

        <%= markdown.gray %>
      </article>

      <article class="tab perspective" id="bond">
        <h1>Remember the man and the hero, not just half the dream</h1>

        <cite class="byline">
          By Julian Bond, civil-rights activist and teacher
        </cite>

        <div class="date">This story originally ran in The Seattle Times, April 4, 1993.</div>

        <%= markdown.bond %>
      </article>

      <article class="tab perspective" id="young">
        <h1>Andrew Young reflects on his struggle in the civil-rights movement</h1>

        <cite class="byline">By Mary Elizabeth Cronin, Seattle Times staff reporter</cite>

        <div class="date">This story originally ran in The Seattle Times Nov. 13, 1996.</div>
        <%= markdown.young %>
      </article>

      <article class="tab perspective" id="mckinney">
        <h1>When King came to town</h1>

        <cite class="byline">By Ferdinand de Leon, Seattle Times staff reporter</cite>

        <div class="date">This story originally ran in The Seattle Times Jan. 16, 1994.</div>
        <%= markdown.mckinney %>
      </article>

      <article class="tab perspective" id="mckinney-turner">
        <h1>Then and now: Two pastors talk about the struggle for equality</h1>

        <div class="bio">
          <p>
            In 1958, just as the civil rights movement in the South was starting to gain national attention, two pastors moved to Seattle to take over new assignments: the Rev. Samuel McKinney at the predominately black Mt. Zion Baptist Church, and the Rev. Dale Turner at the predominately white University Congregational Church.

          <p>
            A year or two later, Turner invited McKinney to speak at University Congregational; that visit was followed by a number of informal meetings between the two and a third pastor, John Hurst Adams (who has since left the area), to talk about ways of addressing race relations from the pulpit.

          <p>
            More than 35 years after they first met, the Revs. Turner and McKinney sat down again in December, 1995, for a conversation with Seattle Times religion reporter Lee Moriwaki.

          <p>
            They talked about the mood of the times then and now, and about the impact of Martin Luther King Jr. — a classmate of McKinney's at Morehouse College. Below is an edited transcript of the discussion.
        </div>

        <%= markdown.mckinneyTurner %>
      </article>

      <article class="tab perspective" id="sanchez">
        <%= markdown.sanchez %>
      </article>

      <article class="tab perspective" id="calendar">

        <h1>Making the calendar</h1>

        <div class="bio">This is an abridged version of a Seattle Times article that appeared in 1985 — a year before the first celebration of the holiday in King's honor.</div>

        <cite class="byline">By Paul Andrews, Seattle Times staff reporter</cite>

        <%= markdown.makingCalendar %>
      </article>

    </div>

  </section>

</main>

<%= t.include("_foot.html") %>