<%= t.include("./_head.html", { title: "The life of Martin Luther King Jr.", file: "bio.html" }) %>

<header class="header">
  <img src="./assets/mlk_header_short.jpg">
</header>

<main class="bio">

  <div class="inner">

    <nav class="jump">
      <ul>
        <li><a href="#life">Biography</a>
        <li><a href="#galleries">Photo galleries</a>
        <li><a href="#words">His words</a>
        <li><a href="#timeline">Timeline</a>
      </ul>
    </nav>

    <div class="narrow">
      <h1 id="life">The life of Martin Luther King Jr.</h1>
      <section class="life">
        <%= t.include("_biography.html") %>
      </section>
    </div>

    <div class="to-top"><a href="#top">&uarr; Top</a></div>

    <h1 id="galleries">Photo galleries</h1>
    <section class="galleries">
      <%= t.include("_galleries.html") %>
    </section>

    <div class="to-top"><a href="#top">&uarr; Top</a></div>

    <h1 id="words">His words</h1>
    <section class="words">
      <%= t.include("_words.html") %>
    </section>

    <div class="to-top"><a href="#top">&uarr; Top</a></div>

    <div class="narrow">
      <h1 id="timeline">Timeline</h1>
      <section class="timeline">
        <%= t.include("_timeline.html") %>
      </section>
    </div>

    <div class="to-top"><a href="#top">&uarr; Top</a></div>

  </div>
  
</main>

<%= t.include("./_foot.html") %>
