<%= t.include("./_head.html", { title: "The life of Martin Luther King Jr.", file: "bio.html" }) %>

<header class="header">
  <img src="./assets/mlk_header_short.jpg">
</header>

<main class="bio">

  <div class="inner">

    <h1 id="life">The life of Martin Luther King Jr.</h1>
    <section class="life">
      <%= t.include("_biography.html") %>
    </section>

    <h1 id="galleries">Photo galleries</h1>
    <section class="galleries">
      <%= t.include("_galleries.html") %>
    </section>

    <h1 id="words">His words</h1>
    <section class="words">
      <%= t.include("_words.html") %>
    </section>

    <h1 id="timeline">Timeline</h1>
    <section class="timeline">
      <%= t.include("_timeline.html") %>
    </section>

  </div>
  
</main>

<%= t.include("./_foot.html") %>
