<%= t.include("./_head.html", { title: "Photo galleries" }) %>

<div class="galleries">

<h3>Photo galleries</h3>

<div class="cluster">
  <a href="http://www.seattletimes.com/nation-world/martin-luther-king-jr-1956-62-2/" target="_blank"><img src="./assets/gallery1.jpg"></a>
  <div><strong><a href="http://www.seattletimes.com/nation-world/martin-luther-king-jr-1956-62-2/" target="_blank">Part I: 1956-1962</a></strong></div>
  <div>Dr. Martin Luther King Jr. establishes himself as the national leader of the civil rights movement, leading boycotts and staging protests against segregation in the South.</div>
</div>

<div class="cluster">
  <a href="http://www.seattletimes.com/nation-world/martin-luther-king-jr-1963-65-2/" target="_blank"><img src="./assets/gallery2.jpg"></a>
  <div><strong><a href="http://www.seattletimes.com/nation-world/martin-luther-king-jr-1963-65-2/" target="_blank">Part II: 1963-1965</a></strong></div>
  <div>Voting rights becomes the focus of King and other civil-rights leaders. They organize protests across the nation, bringing more attention to their efforts - and more violent responses from opponents.</div>
</div>

<div class="cluster">
  <a href="http://www.seattletimes.com/nation-world/martin-luther-king-jr-1966-68-2/" target="_blank"><img src="./assets/gallery3.jpg"></a>
  <div><strong><a href="http://www.seattletimes.com/nation-world/martin-luther-king-jr-1966-68-2/" target="_blank">Part III: 1966-1968</a></strong></div>
  <div>King's opposition to the Vietnam War makes headlines while his battle for civil rights continues. But on April 4, 1968, an assassin's bullet ended his crusade.</div>
</div>

</div>

<%= t.include("./_foot.html") %>