<%= t.include("./_head.html", { title: "Home", file: "index.html" }) %>

<header class="header">
  <img src="./assets/mlk_header.jpg">
</header>

<main class="index">

  <div class="intro">
    <div class="inner">
    <p>Martin Luther King Jr. lived an extraordinary life. At 33, he was pressing the case of civil rights with President John Kennedy. At 34, he galvanized the nation with his "I Have a Dream" speech. At 35, he won the Nobel Peace Prize. At 39, he was assassinated, but he left a legacy of hope and inspiration that continues today.

    <p>In 1996, <em>The Seattle Times</em> created a <a class="old-link" href="http://old.seattletimes.com/special/mlk/">web page in tribute</a> to Dr. King, collecting the story of his life, photographs of the times in which he lived, and perspectives from politicians, activists, and ordinary citizens on his tremendous legacy. Now, 20 years later, we have created an updated home for that tribute. We hope it will continue to be useful for readers in the years to come.
    </div>
  </div>

  <div class="triplets">
      <div class="triplet">
        <a href="./bio.html#life"><img src="./assets/triplet1.jpg"></a>
        <h2><a href="./bio.html#life">Biography</a></h2>
        <div class="desc">King, and his policy of nonviolence, was the dominant force in the civil-rights movement</div>
      </div>
      <div class="triplet">
        <a href="./bio.html#words"><img src="./assets/triplet3.jpg"></a>
        <h2><a href="./bio.html#words">His words</a></h2>
        <div class="desc">A selection of King's speeches, sermons and letters, including his "I Have a Dream" speech</div>
      </div>
      <div class="triplet">
        <a href="./bio.html#galleries"><img src="./assets/gallery1.jpg"></a>
        <h2><a href="./bio.html#galleries">Galleries</a></h2>
        <div class="desc">Take a look back at King's life through three collections of photographs</div>
      </div>
  </div>

  <blockquote class="quote">
    <div class="inner">
      <em>"I have a dream that my four little children will one day live in a nation where they will not be judged by the color of their skin, but by the content of their character."</em>

      <div class="attribution">Martin Luther King Jr., Lincoln Memorial, Washington D.C., August 28, 1963</div>
    </div>
  </blockquote>

  <div class="body">
    <div class="inner">
      <div class="flex-container">
        <div class="double">
          <div class="triplet">
            <a href="./archives.html"><img src="./assets/perspectives.jpg"></a>
            <h2><a href="./archives.html">Local perspectives</a></h2>
            <div class="desc">Viewpoints on King's legacy, both past and present</div>
          </div>
        </div>
        <div class="single vbox">
          <div class="triplet">
            <a href="./bio.html#timeline"><img src="./assets/gallery2.jpg"></a>
            <h2><a href="./bio.html#timeline">Timeline</a></h2>
            <div class="desc">See how key events in King's life connect with those of the civil-rights movement</div>
          </div>
          <div class="triplet no-pic">
            <h2><a href="./education.html#quiz">Civil rights quiz</a></h2>
            <div class="desc">Test your knowledge about civil rights</div>
          </div>
        </div>
      </div>

      <div class="flex-container">
        <div class="single top triplet no-pic">
          <h2><a href="./education.html#lesson-plan">Lesson plan</a></h2>
          <div class="desc">A variety of activities that look at King’s philosophy</div>
        </div>
        <div class="single triplet no-pic">
          <h2><a href="./education.html#study-guide">Study guide</a></h2>
          <div class="desc">Exercises to prompt further discussion about King's life and legacy</div>
        </div>
        <div class="single triplet no-pic">
          <h2><a href="./education.html#resources">Resources</a></h2>
          <div class="desc">More resources for learning about Martin Luther King Jr.</div>
        </div>
    </div>
    </div>
  </div>

  <div class="thin-div">
    <div class="center">Don't Miss</div>
  </div>

  <div class="dont-miss">
    <div class="story">
      <div class="padded">
      <a target="_blank" href="http://projects.seattletimes.com/2015/killed-by-police/">
        <img src="./assets/dontmiss2.jpg"></img>
      </a>
        <div class="small">Times Watchdog</div>
        <a target="_blank" href="http://projects.seattletimes.com/2015/killed-by-police/">
          <div>Shielded by the law</div>
        </a>
      </div>
    </div>
    <div class="story">
      <div class="padded">
      <a target="_blank" href="http://projects.seattletimes.com/2015/women-in-trades/">
        <img src="./assets/dontmiss1.jpg"></img>
      </a>
        <div class="small">Photography</div>
        <a target="_blank" href="http://projects.seattletimes.com/2015/women-in-trades/">
          <div>Women in the trades</div>
        </a>
      </div>
    </div>
    <div class="story">
      <div class="padded">
      <a target="_blank" href="http://projects.seattletimes.com/2015/photos-of-the-year/">
        <img src="./assets/dontmiss5.jpg"></img>
      </a>
        <div class="small">Photography</div>
        <a target="_blank" href="http://projects.seattletimes.com/2015/photos-of-the-year/">
          <div>2015 Pictures of the Year</div>
        </a>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a target="_blank" href="http://nie.seattletimes.com/">
          <img src="./assets/dontmiss4.jpg"></img>
        </a>
        <div class="small">Learning tools</div>
        <a target="_blank" href="http://nie.seattletimes.com/">
          <div>Newspapers in Education</div>
        </a>
      </div>
    </div>
  </div>

</main>

<%= t.include("./_foot.html") %>