<%= t.include("./_head.html", { title: "Home" }) %>

<div class="header">
  <img src="./assets/mlk_header.jpg">
</div>
        
<main class="index">

  <div class="intro">
    <div class="inner1">
    Martin Luther King Jr. lived an extraordinary life. At 33, he was pressing the case of civil rights with President John Kennedy. At 34, he galvanized the nation with his "I Have a Dream" speech. At 35, he won the Nobel Peace Prize. At 39, he was assassinated, but he left a legacy of hope and inspiration that continues today.
    </div>
  </div>

  <div class="triplets">
    <div class="inner2">
      <div class="triplet">
        <img src="./assets/triplet1.jpg">
        <h2>Biography</h2>
        <div class="desc">King, and his policy of nonviolence, was the dominant force in the civil-rights movement</div>
      </div>
      <div class="triplet">
        <img src="./assets/triplet3.jpg">
        <h2>His words</h2>
        <div class="desc">A selection King's speeches, sermons and letters, plus his "I Have a Dream" speech</div>
      </div>
      <div class="triplet">
        <img src="./assets/gallery1.jpg">
        <h2>Galleries</h2>
        <div class="desc">Take a look back at King's life through three collections of photographs</div>
      </div>
    </div>
  </div>

  <div class="quote">
    <div class="inner2">
    <em>"I have a dream that my four little children will one day live in a nation where they will not be judged by the color of their skin, but by the content of their character."</em>

    <div class="attribution">Martin Luther King Jr., Lincoln Memorial, Washington D.C., August 28, 1963</div>
    </div>
  </div>

  <div class="body">
    <div class="inner2">
    Body
    </div>
  </div>

</main>

<%= t.include("./_foot.html") %>