<%= t.include("_head.html", { title: "Perspectives" }) %>

<div class="header">
  <img src="./assets/mlk_header_short.jpg">
</div>

<main class="perspectives">

  <div class="inner">

    <h3>Perspectives</h3>

    <section class="tab-group">

      <nav class="tab-navigation">
        <ul>
          <li><a href="#bond">Julian Bond</a>
          <li><a href="#gray">Fred Gray</a>
        </ul>
      </nav>

      <article class="tab perspective" id="bond">
        <%= markdown.bond %>
      </article>

      <article class="tab perspective" id="gray">
        <%= markdown.gray %>
      </article>

    </section>




  </div>

</main>

<%= t.include("_foot.html") %>