<%= t.include("./_head.html") %>

<h3>His words</h3>

<div class="flex-container">
  <div class="left">

    <div class="subhead">Encouragement:</div>

    <div class="cluster">
      <div><strong><a href="https://kinginstitute.stanford.edu/king-papers/documents/i-have-dream-address-delivered-march-washington-jobs-and-freedom" target="_blank">I Have a Dream</a></strong> (PDF)</div>
      <div>The famous speech delivered in 1963 to more than 200,000 civil-rights marchers at the Lincoln Memorial in Washington, D.C.</div>
      <div>"I still have a dream" MP3 (1:03)</div>
      <div>"Let freedom ring" MP3 (1:20)</div>
    </div>

    <div class="cluster">
      <div><strong><a href="http://kingencyclopedia.stanford.edu/encyclopedia/documentsentry/ive_been_to_the_mountaintop/" target="_blank">I've Been to the Mountaintop</a></strong></div>
      <div>King gave this speech, saying "I may not get there with you," the day before he was assassinated.</div>
      <div>"We will get to the promised land" MP3 (:56)</div>
    </div>

    <div class="subhead">On nonviolence:</div>

    <div class="cluster">
      <div><strong><a href="http://kingencyclopedia.stanford.edu/encyclopedia/documentsentry/doc_acceptance_speech_at_nobel_peace_prize_ceremony.1.html" target="_blank">Nobel Prize acceptance speech</a></strong></div>
      <div>King used his 1964 speech, given in Oslo, Norway, as a reminder of the ongoing struggle.</div>
    </div>

  </div>

  <div class="center"></div>

  <div class="right">
    <div class="subhead">For students:</div>

    <div class="cluster">
      <div><strong>What Is Your Life's Blueprint?</strong></div>
      <div>In 1967, a group of students in Philadelphia listened to King talk about his hopes for them.</div>
    </div>

    <div class="cluster">
      <div><strong>The Purpose of Education</strong></div>
      <div>King's article in the Morehouse student paper, the Maroon Tiger, in 1947, argues that the critical intellect requires moral development.</div>
    </div>

    <div class="subhead">Example of a sermon:</div>

    <div class="cluster">
      <div><strong>The Three Dimensions of a Complete Life</strong></div>
      <div>King preaches to congregants in 1967 about a life of length, breadth and depth.</div>
    </div>

    <div class="subhead">On poverty:</div>

    <div class="cluster">
      <div><strong>Where We Are Going</strong></div>
      <div>In this chapter of his last book, King wrote about the need to address poverty as an issue of class, not race.</div>
    </div>
  </div>

</div>

<%= t.include("./_foot.html") %>